.home{
    position: relative;
    top: 0;
    left: 0;
    font-family:  'Novecentowide-Normal', sans-serif;
}
.inicio{
    position: relative;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
}
.inicio .home-text{
    padding: 1rem;
}
.img-home { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    filter: blur(3.5px) brightness(40%);
}
.img-logo {
    display: flex;
    justify-self: center;
    height: 25rem;
    width: 25rem;
    padding: 2.5rem;
}
.inicio h1{
    font-family: 'Novecentowide-Light', sans-serif;
    color: rgb(237, 129, 23);
    text-shadow: 0 0 0.2rem rgb(237, 129, 23);
}
.inicio button{
    font-family: 'Novecentowide-Normal', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 0 0 0.2rem rgb(237, 129, 23);
    background-color: rgba(109, 109, 109, 0.1); /* Semi-transparent white */
    backdrop-filter: blur(10px);
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
    border: 0.1rem solid rgba(109, 109, 109, 0.1);
    border-radius: 0.4rem;
    transition: all 0.2s ease-in-out;
}
.inicio button:hover{
    text-shadow: 0 0 0.5rem rgb(237, 129, 23);
    background-color: rgba(237, 129, 23, 0.2); /* Semi-transparent white */
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.2);
    border: 0.1rem solid rgba(237, 129, 23, 0.2);
    transform: scale(1.025);
}
.contentwrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    padding: 1rem;
}

@media (max-width: 768px) {
    .home-text > *{
        font-size: 2.3rem;
    }
    .galeria {
        flex-direction: column;
        padding: 0.5rem;
    }
    .separador {
        width: calc(100% - 10.6rem);
        height: 0.2rem;
        border-radius: 0.75rem;
    }
    .contact .contentwrapper {
        flex-direction: column;
    }
    .contact .contectwrapper .text {
        flex-direction: row;
    }
    .contact .text span {
        display: flex;
        flex-direction: row !important;
        justify-content: center;
        align-items: center;
    }
    .contact .text > span:first-child {
        font-size: 0.5rem;
        width: 100%;
    }
    .contact .text > span > * {
        font-size: 0.9rem;
        padding: 0 0.5rem;
    }
    .contact .text > * {
        padding: 0.25rem !important;
        scale: 0.75;
    }
    .contact .list > li > a > svg {
        width: 5.5rem;
        height: 5.5rem;
        margin: 0.25rem;
    }
}

@media (max-width: 480px) {
    .img-logo{
        height: 20rem;
        width: 20rem;
    }
    .home-text{
        font-size: 0.75rem;
    }
    .intro {
        flex-direction: column;
        padding: 0.5rem;
        height: 50vh;
        width: 75%;
    }
    .galeria {
        width: 100%;
        padding: 0.5rem;
    }
    .albums  .contentwrapper h1 {
        font-size: 1.5rem;
    }
    .musiclinks > a{
        height: 4rem;
        font-size: 0.75rem;
    }
    .contact .contentwrapper {
        flex-direction: column;
    }
    .contact .mapa iframe {
        width: 100%;
        height: 100%;
    }
    .contact .text {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact .text > span > * {
        font-size: 1rem;
    }
    .contact .text > * {
        padding: 0.25rem !important;
        scale: 0.75;
    }
    .contact .list > li > a > svg{
        width: 5.5rem;
        height: 5.5rem;
        margin: 0.25rem;
    }
}

@media (max-width: 1280px) {
    .about > .contentwrapper{
        justify-content: space-evenly;
        scrollbar-width: none;
        -ms-overfloy-style: none;
    }
    .about > .contentwrapper::-webkit-scrollbar {
        display: none;
    }
    .info > .contentwrapper{
        justify-content: space-evenly;
        gap: 1rem;
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overfloy-style: none;
    }
    .info > .contentwrapper::-webkit-scrollbar {
        display: none;
    }
    .albums > .contentwrapper{
        justify-content: space-evenly;
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overfloy-style: none;
    }
    .albums > .contentwrapper::-webkit-scrollbar {
        display: none;
    }
}
@media ( max-width: 3000px ) {
    .img-logo {
        height: 20rem;
        width: 20rem;
    }
    .albums .musiclinks {
        flex-direction: row;
    }
    .inicio h1 {
        margin-bottom: 0;
    }
}   