.home{
    position: relative;
    top: 0;
    left: 0;
    font-family:  'Novecentowide-Normal', sans-serif;
}
.inicio{
    position: relative;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
}
.img-home { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    filter: blur(3px) brightness(40%) hue-rotate(340deg);
}
.img-logo {
    display: flex;
    justify-self: center;
    height: 25rem;
    width: 25rem;
    padding: 2.5rem;
}
.inicio h1{
    font-family: 'Novecentowide-Bold', sans-serif;
    padding: 1rem;
    color: rgb(237, 129, 23);
    text-shadow: 0 0 0.2rem rgb(237, 129, 23);
}
.inicio h2{
    font-family: 'Novecentowide-Light', sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    padding: 1rem;
}
.inicio button{
    font-family: 'Novecentowide-Normal', sans-serif;
    font-size: 1.5rem;
    text-shadow: 0 0 0.2rem rgb(237, 129, 23);
    background-color: rgba(109, 109, 109, 0.1); /* Semi-transparent white */
    backdrop-filter: blur(10px);
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: 2px solid rgba(109, 109, 109, 0.1)
}
.inicio button:hover{
    text-shadow: 0 0 0.5rem rgb(237, 129, 23);
    background-color: rgba(237, 129, 23, 0.2); /* Semi-transparent white */

}
.contentwrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    overflow: hidden;
}
.info{
    border-top: 5px dotted rgba(109, 109, 109, 0.25);
    background-color: rgb(0, 31, 50);
}
.info{
    background:
    radial-gradient(100% 100% at 100% 0,var(--c1) 4%,var(--_g),#0008 96%,#0000),
    radial-gradient(100% 100% at 0 100%,#0000, #0008 4%,var(--_g),var(--c1) 96%)
    var(--c1);
  background-size: var(--s) var(--s);
}
.info .contentwrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    text-align: start;
}
.info .contentwrapper div {
    padding: 1rem;
}
.info .acercade, .info .services {
    border: 2px solid rgba(109, 109, 109, 0.1);
    background-color: rgba(109, 109, 109, 0.1); /* Semi-transparent white */
    backdrop-filter: blur(0.25rem);
    border-radius: 1rem;
}
.info .acercade h2 {
    font-family: 'Novecentowide-Bold', sans-serif;
    font-size: 2.5rem;
    color: rgba(237, 129, 23);
    text-shadow: 0 0 0.2rem rgba(237, 129, 23);
}
.info .acercade p {
    font-family: 'Novecentowide-Light', sans-serif;
    font-size: 2rem;
}
.info .services h4 {
    font-family: 'Novecentowide-Bold', sans-serif;
    text-decoration: underline;
    font-size: 1.5rem;
    padding-bottom: 2rem;
}
.info .services h5 {
    font-family: 'Novecentowide-Normal', sans-serif;
    font-size: 1rem;
    color: rgba(237, 129, 23);
    text-shadow: 0 0 0.2rem rgba(237, 129, 23);
}
.info .services p {
    font-family: 'Novecentowide-Light', sans-serif;
    font-size: 0.80rem;
}
.info .services ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.info .services ul li {
    padding: 0.5rem;
}
.about{
    border-top: 5px dotted rgba(109, 109, 109, 0.25);
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgba(0, 31, 50);
}
.about{
    background:
    radial-gradient(100% 100% at 100% 0,var(--c1) 4%,var(--_g),#0008 96%,#0000),
    radial-gradient(100% 100% at 0 100%,#0000, #0008 4%,var(--_g),var(--c1) 96%)
    var(--c1);
  background-size: var(--s) var(--s);
}
.about > .contentwrapper{
    justify-content: space-evenly;
}
.img-about{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    filter: blur(3px) brightness(40%) hue-rotate(180deg);
}
.intro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.intro-text{
    width: 90%;
    padding: 1rem;
    border: 2px solid rgba(109, 109, 109, 0.1);
    background-color: rgba(109, 109, 109, 0.1); /* Semi-transparent white */
    backdrop-filter: blur(0.25rem);
    border-radius: 1rem;
}
.intro-text h3{
    font-family: 'Novecentowide-Normal', sans-serif;
    font-size: 1.75rem;
    color: rgba(237, 129, 23);
    text-shadow: 0 0 0.2rem rgba(237, 129, 23);
}
.intro-text p{
    font-family: 'Novecentowide-Light', sans-serif;
    font-size: 1rem;
}
.galeria{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    width: calc(100% - 20rem);
    height: calc(100vh - 20rem);
}
.secondrow, .firstrow{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50%;
    gap: 0.5rem;
    padding: 0.25rem;
}
.secondrow .img-container, .firstrow .img-container{
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    transform: translateZ(0); 
    border-radius: 1rem;
    box-sizing: border-box;
}
.secondrow .img-container:hover, .firstrow .img-container:hover{
    transform: scale(1.1);
    border: 0.25rem solid rgb(237, 129, 23);
    box-shadow: 0 0 0.2rem rgba(237, 129, 23)
}
.secondrow .img-container:hover h3, .firstrow .img-container:hover h3, .secondrow .img-container:hover p, .firstrow .img-container:hover p{
    opacity: 1;
}
.secondrow .text-container, .firstrow .text-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-evenly;
    align-items: start;
    padding: 1rem;
}
.secondrow h3, .firstrow h3, .secondrow p, .firstrow p{
    text-align: start;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.secondrow img, .firstrow img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem
}
.albums{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-top: 5px dotted rgba(109, 109, 109, 0.25);
    border-bottom: 5px dotted rgba(109, 109, 109, 0.25);
}
.albums {
    background:
    radial-gradient(100% 100% at 100% 0,var(--c1) 4%,var(--_g),#0008 96%,#0000),
    radial-gradient(100% 100% at 0 100%,#0000, #0008 4%,var(--_g),var(--c1) 96%)
    var(--c1);
  background-size: var(--s) var(--s);
}

.albums h1 {
    color: rgba(237, 129, 23);
    margin-top: 2.5rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-shadow: 0 0 0.2rem rgba(237, 129, 23);
    border: 2px solid rgba(109, 109, 109, 0.1);
    background-color: rgba(109, 109, 109, 0.1); /* Semi-transparent white */
    backdrop-filter: blur(0.25rem);
    border-radius: 1rem;
    text-align: center;
}
.contact{
    position: relative;
    width: 100%;
    height: 100vh;
    top: 300%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-contact{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    filter: blur(3px) brightness(40%);
}
.contact > .contentwrapper{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-evenly;
}
.contact > .contentwrapper > .text{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
}
.contact > .contentwrapper > .text > * {
    padding: 1rem;
}
.mapa{
    padding: 1rem;
    border: 0.1rem solid rgba(109, 109, 109, 0.2);
    border-radius: 1rem;
    background-color: rgba(109, 109, 109, 0.1); /* Semi-transparent white */
    backdrop-filter: blur(10px);
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1), 0 0.1rem 0.3rem rgba(0, 0, 0, 0.8);
}
.contact .list {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.contact .list > li{
    list-style: none;
}
.contact .list > li > a > svg{
    width: 5rem;
    height: 5rem;
    padding: 0.5rem;
    border: 0.1rem solid rgba(109, 109, 109, 0.2);
    border-radius: 1rem;
    background-color: rgba(109, 109, 109, 0.1); /* Semi-transparent white */
    backdrop-filter: blur(10px);
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1), 0 0.1rem 0.3rem rgba(0, 0, 0, 0.8);
    transition: scale 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.contact .list > li:hover > a > svg{
    scale: 1.25;
    background-color: rgb(15, 15, 15); /* Semi-transparent white */
    box-shadow: 0 0.4rem 0.6rem rgba(237, 129, 23, 0.1), 0 0.1rem 0.3rem rgba(237, 129, 23, 0.8);
}
@media (max-width: 768px) {
    .galeria {
        flex-direction: column;
        width: calc(100% - 2rem);
        height: auto;
        padding: 0.5rem;
    }
}

@media (max-width: 480px) {
    .img-logo{
        height: 10rem;
        width: 10rem;
    }
    .intro {
        flex-direction: column;
        padding: 0.5rem;
        height: 50vh;
        width: 75%;
    }
    .galeria {
        width: 100%;
        padding: 0.5rem;
    }
    .contact .contentwrapper {
        flex-direction: column;
    }
    .contact .mapa iframe {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 1280px) {

}