.home{
    position: relative;
    top: 0;
    left: 0;
    font-family:  'Novecentowide-Normal', sans-serif;
}
.inicio{
    position: relative;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
}
.inicio .home-text{
    padding: 1rem;
}
.img-home { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    filter: blur(3.5px) brightness(40%);
}
.img-logo {
    display: flex;
    justify-self: center;
    height: 25rem;
    width: 25rem;
    padding: 2.5rem;
}
.inicio h1{
    font-family: 'Novecentowide-Light', sans-serif;
    color: rgb(237, 129, 23);
    text-shadow: 0 0 0.2rem rgb(237, 129, 23);
}
.inicio button{
    font-family: 'Novecentowide-Normal', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 0 0 0.2rem rgb(237, 129, 23);
    background-color: rgba(109, 109, 109, 0.1); /* Semi-transparent white */
    backdrop-filter: blur(10px);
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
    border: 0.1rem solid rgba(109, 109, 109, 0.1);
    border-radius: 0.4rem;
    transition: all 0.2s ease-in-out;
}
.inicio button:hover{
    text-shadow: 0 0 0.5rem rgb(237, 129, 23);
    background-color: rgba(237, 129, 23, 0.2); /* Semi-transparent white */
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.2);
    border: 0.1rem solid rgba(237, 129, 23, 0.2);
    transform: scale(1.025);
}
.contentwrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    padding: 1rem;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(45, 51, 43, 1);
}
.info::after{
    content: "";
    width: 0;
    height: 0;
    transform: translateY(0.90rem);
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 1rem 2rem 0 2rem;
    border-color: rgba(45, 51, 43) transparent transparent transparent;
    z-index: 10;
}
.info .contentwrapper {
    flex-direction: column;
    justify-content: space-evenly;
    text-align: start;
}
.info .acercade, .info .services, .info .intro-text {
    width: 100%;
    padding: 1rem;
    border: 0.1rem solid rgba(109, 109, 109, 0.1);
    backdrop-filter: blur(10px);
    background-color: rgba(109, 109, 109, 0.1);;
    border-radius: 0.4rem;
    flex-grow: 0.15;
}
.info .acercade p {
    font-family: 'Novecentowide-Normal', sans-serif;
    font-size: clamp(1rem, 1.5rem, 2rem);
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info .services h4 {
    font-family: 'Novecentowide-Bold', sans-serif;
    text-decoration: underline;
    font-size: 1.5rem;
    padding-bottom: 2rem;
}
.info .services h5 {
    font-family: 'Novecentowide-Light', sans-serif;
    font-size: 1rem;
    color: rgba(237, 129, 23);
    text-shadow: 0 0 0.2rem rgba(237, 129, 23);
    text-align: center;
}
.info .services p {
    font-family: 'Novecentowide-Normal', sans-serif;
    font-size: 0.80rem;
    text-align: center;
}
.info .services ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 1;
}
.info .services ul li {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.info .services ul li svg{
    padding: 0.5rem;
    height: 3.5rem;
    width: 3.5rem;
}
.intro-text p{
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-family: 'Novecentowide-Normal', sans-serif;
    font-size: clamp(1rem, 1.5rem, 2rem);
}
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(49, 43, 51);
}
.about::after {
    content: "";
    width: 0;
    height: 0;
    transform: translateY(0.90rem);
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 1rem 2rem 0 2rem;
    border-color: rgba(49, 43, 51) transparent transparent transparent;
    z-index: 10;
}
.about > .contentwrapper {
    height: 100%;
    padding-top: 2rem;
}
.about > h3 {
    font-family: 'Novecentowide-Light', sans-serif;
    font-size: 0.90rem;
    padding: 0 0.5rem;
    padding-bottom: 2rem;
}
.galeria{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%
}
.salas, .estudio{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    height: 100%;
}
.salas button, .estudio button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    font-family: 'Novecentowide-Normal', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 0 0 0.2rem rgb(237, 129, 23);
    background-color: rgba(109, 109, 109, 0.1); /* Semi-transparent white */
    backdrop-filter: blur(10px);
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
    border: 0.1rem solid rgba(109, 109, 109, 0.1);
    border-radius: 0.4rem;
    transition: all 0.2s ease-in-out;
    animation: widthContract 0.2s ease-in-out forwards;
}
.salas button:hover, .estudio button:hover{
    text-shadow: 0 0 0.5rem rgb(237, 129, 23);
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.2);
    border: 0.1rem solid rgba(237, 129, 23, 0.2);
    transform: scale(1.025);
    background-color: rgba(237, 129, 23, 0.2); /* Semi-transparent white */
}
@keyframes widthExpand {
    0% {
        width: 20rem;
    }
    100% {
        width: 90%;
    }
}
@keyframes widthContract {
    0% {
        width: 90%;
    }
    100% {
        width: 20rem;
    }
}
.salas button.active, .estudio button.active{
    animation: widthExpand 0.2s ease-in-out forwards;
    text-shadow: 0 0 0.5rem rgb(237, 129, 23);
    background-color: rgba(237, 129, 23, 0.2); /* Semi-transparent white */
    transition: all 0.2s ease-in-out;
}
.estudio{
    flex-direction: column;
}
.direction{
    height: 0;
    width: 0;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.expanded{
    height: 100%;
    width: 90%;
    opacity: 1;
}
.estudio .direction{
    display: flex;
    flex-direction: column;
}
.firstcolumn, .secondcolumn{
    display: flex;
    flex-direction: row;
    justify-items: start;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 0.5rem;
    padding: 0.25rem;
}
.secondrow, .firstrow{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50%;
    gap: 0.5rem;
    padding: 0.25rem;
}
.firstcolumn .img-container, .secondcolumn .img-container{
    width: 100%;
    height: 50%;
    transition: all 0.2s ease-in-out;
    transform: translateZ(0); 
    box-sizing: border-box;
}
.secondcolumn .img-container{
    height: 100%;
}
.secondrow .img-container, .firstrow .img-container{
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
    transform: translateZ(0); 
    box-sizing: border-box;
}
.secondrow .img-container:hover, .firstrow .img-container:hover, .firstcolumn .img-container:hover, .secondcolumn .img-container:hover{
    z-index: 10;
}
.secondrow .img-container:hover > .text-container, .firstrow .img-container:hover > .text-container, .firstcolumn .img-container:hover > .text-container, .secondcolumn .img-container:hover > .text-container{
    margin: 1rem;
    background-color: rgba(109, 109, 109, 0.2);
    border: rgba(109, 109, 109, 0.1) 0.1rem solid;
    backdrop-filter: blur(10px);
    border-radius: 0.25rem;
}
.secondrow .img-container:hover > img, .firstrow .img-container:hover > img, .firstcolumn .img-container:hover > img, .secondcolumn .img-container:hover > img{
    border: 0.15rem solid rgb(237, 129, 23);
    box-shadow: 0 0 0.2rem rgba(237, 129, 23);
}
.secondrow .img-container:hover h3, .firstrow .img-container:hover h3, .secondrow .img-container:hover p, .firstrow .img-container:hover p, .firstcolumn .img-container:hover h3, .firstcolumn .img-container:hover p, .secondcolumn .img-container:hover h3, .secondcolumn .img-container:hover p{
    opacity: 1;
}
.secondrow .text-container, .firstrow .text-container, .firstcolumn .text-container, .secondcolumn .text-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-evenly;
    align-items: start;
    padding: 1rem;
    z-index: 1;
    transition: all 0.2s ease-in-out;
}
.secondrow h3, .firstrow h3, .secondrow p, .firstrow p, .firstcolumn h3, .firstcolumn p, .secondcolumn h3, .secondcolumn p{
    text-align: start;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.secondrow img, .firstrow img, .firstcolumn img{
    width: 100%;
    height: auto;
    max-height: 415px;
    object-fit: cover;
    border-radius: inherit;
    cursor: pointer;
    border-radius: 0.2rem;
    border: 0.15rem solid rgba(109, 109, 109, 0.25);
    transition: all 0.2s ease-in-out;
}
.secondcolumn img{
    width: 100%;
    height: auto;
    max-height: 830px;
    object-fit: contain;
    border-radius: inherit;
    cursor: pointer;
    border-radius: 0.2rem;
    border: 0.15rem solid rgba(109, 109, 109, 0.25);
    transition: all 0.2s ease-in-out;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem
}
.albums{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(45, 51, 43, 0.8);
}

.albums h1 {
    color: rgba(237, 129, 23);
    font-family: 'Novecentowide-Light', sans-serif;
    font-size: 2rem;
    margin: 1rem 0;
    margin-top: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-shadow: 0 0 0.2rem rgba(237, 129, 23);
    border-radius: 0.4rem;
    text-align: center;
}
.albums .musiclinks{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 1rem;
}
.albums a {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;   
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem;
    cursor: pointer;
    text-shadow: 0 0 0.2rem rgb(237, 129, 23);
    background-color: rgba(109, 109, 109, 0.1); /* Semi-transparent white */
    backdrop-filter: blur(10px);
    border: 0.1rem solid rgba(109, 109, 109, 0.1);
    transition: all 0.2s ease-in-out;
    border-radius: 0.4rem;
    gap: 0.75rem;
}
.albums a:hover {
    transform: scale(1.025);  
    text-shadow: 0 0 0.5rem rgb(237, 129, 23);
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.2);
    border: 0.1rem solid rgba(237, 129, 23, 0.2);
    background-color: rgba(237, 129, 23, 0.2); /* Semi-transparent white */
}
.contact{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-contact{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    filter: blur(3.5px) brightness(40%);
}
.contact > .contentwrapper{
    flex-direction: row;
    justify-content: space-evenly;
}
.contact > .contentwrapper > .text{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
}
.contact > .contentwrapper > .text > * {
    padding: 1rem;
}
.mapa{
    width: 100%;
    height: auto;
    padding: 1rem;
    border: 0.1rem solid rgba(109, 109, 109, 0.2);
    border-radius: 1rem;
    background-color: rgba(109, 109, 109, 0.1); /* Semi-transparent white */
    backdrop-filter: blur(10px);
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1), 0 0.1rem 0.3rem rgba(0, 0, 0, 0.8);
}
.contact .list {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.contact .list > li {
    list-style: none;
}
.contact .list > li > a {
    height: auto;
    width: auto;
}
.contact .list > li > a > svg {
    width: 5rem;
    height: 5rem;
    padding: 0.5rem;
    border: 0.1rem solid rgba(109, 109, 109, 0.2);
    border-radius: 0.4rem;
    background-color: rgba(109, 109, 109, 0.1); /* Semi-transparent white */
    backdrop-filter: blur(10px);
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1), 0 0.1rem 0.3rem rgba(0, 0, 0, 0.8);
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.contact .list > li:hover > a > svg {
    text-shadow: 0 0 0.5rem rgb(237, 129, 23);
    background-color: rgba(237, 129, 23, 0.2); /* Semi-transparent white */
    border: 0.1rem solid rgba(237, 129, 23, 0.2);
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.2);
    scale: 1.05;
}
@media (max-width: 768px) {
    .home-text > *{
        font-size: 2.3rem;
    }
    .galeria {
        flex-direction: column;
        width: calc(100% - 2rem);
        height: auto;
        padding: 0.5rem;
    }
    .separador {
        width: calc(100% - 10.6rem);
        height: 0.2rem;
        border-radius: 0.75rem;
    }
    .contact .contentwrapper {
        flex-direction: column;
    }
    .contact .contectwrapper .text {
        flex-direction: row;
    }
    .contact .text span {
        display: flex;
        flex-direction: row !important;
        justify-content: center;
        align-items: center;
    }
    .contact .text > span:first-child {
        font-size: 0.5rem;
        width: 100%;
    }
    .contact .text > span > * {
        font-size: 0.9rem;
        padding: 0 0.5rem;
    }
    .contact .text > * {
        padding: 0.25rem !important;
        scale: 0.75;
    }
    .contact .list > li > a > svg {
        width: 5.5rem;
        height: 5.5rem;
        margin: 0.25rem;
    }
}

@media (max-width: 480px) {
    .img-logo{
        height: 20rem;
        width: 20rem;
    }
    .home-text{
        font-size: 0.75rem;
    }
    .intro {
        flex-direction: column;
        padding: 0.5rem;
        height: 50vh;
        width: 75%;
    }
    .galeria {
        width: 100%;
        padding: 0.5rem;
    }
    .albums  .contentwrapper h1 {
        font-size: 1.5rem;
    }
    .musiclinks > a{
        height: 4rem;
        font-size: 0.75rem;
    }
    .contact .contentwrapper {
        flex-direction: column;
    }
    .contact .mapa iframe {
        width: 100%;
        height: 100%;
    }
    .contact .text {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact .text > span > * {
        font-size: 1rem;
    }
    .contact .text > * {
        padding: 0.25rem !important;
        scale: 0.75;
    }
    .contact .list > li > a > svg{
        width: 5.5rem;
        height: 5.5rem;
        margin: 0.25rem;
    }
}

@media (max-width: 1280px) {
    .about > .contentwrapper{
        justify-content: space-evenly;
        scrollbar-width: none;
        -ms-overfloy-style: none;
    }
    .about > .contentwrapper::-webkit-scrollbar {
        display: none;
    }
    .info > .contentwrapper{
        justify-content: space-evenly;
        gap: 1rem;
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overfloy-style: none;
    }
    .info > .contentwrapper::-webkit-scrollbar {
        display: none;
    }
    .albums > .contentwrapper{
        justify-content: space-evenly;
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overfloy-style: none;
    }
    .albums > .contentwrapper::-webkit-scrollbar {
        display: none;
    }
}
@media ( max-width: 3000px ) {
    .img-logo {
        height: 20rem;
        width: 20rem;
    }
    .albums .musiclinks {
        flex-direction: row;
    }
} 