.carousel {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    clip-path: inset(0);
}
.carousel > *{
    margin: 0 1rem;
}
.prev, .next{
    padding: 0.5rem 1rem;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 1.5rem;
    z-index: 10;
    background-color: rgba(109, 109, 109, 0.2);
    transition: all 0.3s ease-in-out;
}
.prev:hover, .next:hover{
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1), 0 0.1rem 0.3rem rgba(0, 0, 0, 0.8);
    background-color: rgb(40, 40, 40);
}

.prev:focus, .next:focus{
    outline: none;
}
.carousel-inner {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    align-items: center;
    container: fit-content;
}
.carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    container: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}
.carousel-item.active {
    opacity: 1;
    transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.carousel-item.inactive {
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}