.maximized-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75); /* Semi-transparent white */
    backdrop-filter: blur(0.25rem);
    z-index: 1000;
    transform: translateZ(0);
    transition: all 0.3s ease-in-out;
    overflow: clip;
  }
  .maximized-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .maximized-img {
    height: 80%;
    width: auto;
    margin: 1rem;
    gap: 1rem;
    border: 0.2rem solid rgba(109, 109, 109, 0.1);
    border-radius: 1rem;
  }
  .description {
    height: 80%;
    width: 20%;
    margin: 1rem;
    padding: 0.5rem;
    border: 0.2rem solid rgba(109, 109, 109, 0.1);
    border-radius: 1rem;
  }
  .description-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    font-family: 'Novecentowide-normal', sans-serif;
    font-size: 0.9rem;
  }
  .description-container div {
    text-align: start;
    font-family: 'Novecentowide-Bold', sans-serif;
  }
  .description-container h4 {
    font-family: 'Novecentowide-Light', sans-serif;
  }
  .description-container > ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    flex-grow: 1;
  }
  .description-container > ul > li {
    flex-grow: 1;
  }
  .description-container > ul > li > p {
    text-align: start;
  }
  .close-btn {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    color: #ffff;
    font-size: 2rem;
    cursor: pointer;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: transparent;
    z-index: 100;
  }
  @media (max-width: 480px) {
    .maximized-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .maximized-img {
      height: auto;
      width: 80%;
    }
  }
  
  @media (max-width: 1280px) {
    .maximized-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .close-btn{
      top: 0.75rem;
      right: 2.5rem;
    }
    .maximized-img {
      height: auto;
      width: 80%;
    }
    .description {
      min-height: 20%;
      height: auto;
      width: 80%;
  
    }
  }