:root {
    --navbar-height: 7.5vh;
}

.icon {
    height: 3rem;
    width: 3rem;
    padding: 1.5em;
    rotate: 0deg;
    transition: rotate 0.5s ease;
}

.navbar {
    position: fixed;
    width: auto;
    height: auto;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-sizing: border-box;
}
.navbar a{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid rgba(109, 109, 109, 0.2);
    border-radius: 50%;
    border-bottom-left-radius: 0;
    background-color: rgba(109, 109, 109, 0.2);
    backdrop-filter: blur(10px);
}
.navbar a > svg{
    height: 6rem;
    width: 6rem;
    padding: 0.5rem;
    cursor: pointer;
}

@media (max-width: 480px) {
    .navbar a > svg{
        height: 4rem;
        width: 4rem;
    }
}