*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  text-align: center;
  width: 100%;
}

@font-face {
  font-family: 'Novecentowide-Normal';
  src: url('./styles/Fonts/Novecentowide-Normal.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Novecentowide-Bold';
  src: url('./styles/Fonts/Novecentowide-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Novecentowide-Light';
  src: url('./styles/Fonts/Novecentowide-Light.otf') format('opentype');
  font-weight: light;
  font-style: normal;
}

.maximized-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75); /* Semi-transparent white */
  backdrop-filter: blur(0.25rem);
  z-index: 1000;
  transform: translateZ(0);
  transition: all 0.3s ease-in-out;
}
.maximized-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.maximized-img {
  height: 80%;
  width: auto;
  margin: 1rem;
  gap: 1rem;
  border: 0.2rem solid rgba(109, 109, 109, 0.1);
  border-radius: 1rem;
}

.description {
  height: 80%;
  width: 20%;
  margin: 1rem;
  padding: 0.5rem;
  border: 0.2rem solid rgba(109, 109, 109, 0.1);
  border-radius: 1rem;
}

.close-btn {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  color: #ffff;
  font-size: 2rem;
  cursor: pointer;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: transparent;
  z-index: 100;
}
@media (max-width: 480px) {
  .maximized-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .maximized-img {
    height: 60%;
    width: 90%;
  }
}